<!-- layouts/partials/menu_recursive.html -->
{{ $page := .page }}
{{ $site := .site }}
<ul class="sidebar-list" style="display:block">
<!-- Menu items sorted alphabetically by name -->
{{ range .menu.ByName }}
  {{ $is := $page.IsMenuCurrent "main" . }}
  {{ $has := $page.HasMenuCurrent "main" . }}
  {{ if .HasChildren }}
    <li class="sidebar-item parent">
      <a href="{{ .URL }}" class="sidebar-link {{ if $is }} active{{ end }}{{ if $has }} parent-active{{ end }}">
        {{ .Name }}
        <!-- Show a » symbol if there is a sub-menu we haven't rendered -->
        {{ if not (or $is $has) }}»{{ end }}
      </a>
      <!-- Only render sub-menu for parent items and the current item -->
      {{ if or $is $has }}
        {{ partial "menu.html" (dict "menu" .Children "page" $page "site" $site) }}
      {{ end }}
    </li>
  {{ else }}
    <li class="sidebar-item">
      <a href="{{ .URL }}" class="sidebar-link {{ if $is }}active{{end}}">{{ .Name }}</a>
    </li>
  {{ end }}
{{ end }}
</ul>
